<p class="footer-info">
    <a href="http://beian.miit.gov.cn/" target="_blank">沪ICP备19029040号-2</a>
    © 2019 <a href="https://github.com/CareyWang" class="footer-link" target="_blank">CareyWang</a>

    <br />
    Theme <a href="https://github.com/junbin123/hexo-theme-binbin" class="footer-link" target="_blank">Binbin</a> |
    Powered by <a href="https://hexo.io/zh-cn/" class="footer-link" target="_blank">Hexo</a>
</p>
